<div class="register-box">
  <div class="register-logo">
    <b>Smart</b>Lunch
  </div>

  <div class="register-box-body">

    <section class="content-header">
      <div class="row">
        <div class="span12">
          <% if (devise_error_messages!) != '' %>
              <div class='callout callout-info'>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon fa fa-warning"></i> <%= devise_error_messages! %>
              </div>
          <% end %>
        </div>
      </div>
    </section>

    <p class="login-box-msg">请注册一个新的系统账号</p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                 :html => {:role => 'form'}) do |f| %>
        <div class="form-group has-feedback">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= f.text_field :username, :class => 'form-control' ,:required => 'required', :placeholder => '用户名',:autofocus => 'autofocus' %>
        </div>
          <span class='label label-info'>请使用＊汉字＊真实姓名</span>
      </div>
      <div class="form-group has-feedback">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <%= f.email_field :email, :class => 'form-control' ,:required => 'required' , :placeholder => '电子邮箱'%>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <%= f.password_field :password, :class => 'form-control' ,:required => 'required', :placeholder => '密码' %>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <%= f.password_field :password_confirmation, :class => 'form-control' ,:required => 'required', :placeholder => '确认密码' %>
        </div>
      </div>
      <div class="form-group has-feedback">
          <%= f.submit t('global.menu.signup'), :class => 'btn btn-primary btn-block btn-flat' %>
      </div>
    <% end %>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <%= link_to new_user_session_path  do %>
          返回登录页面
      <% end %>
    </div>

  </div><!-- /.form-box -->
</div><!-- /.register-box -->

<script>
    $(document.body).addClass("register-page");
</script>