<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        <div class="well center">
          <h2><%= t('global.menu.blog') %></h2>
          <table class="table table-striped">
            <tr>
              <th>部门</th>
              <th>标题</th>
              <th>内容</th>
            </tr>

            <tr>
              <td><%= @last_post.name %></td>
              <td><%= @last_post.title %></td>
              <td><%= @last_post.content %></td>
            </tr>

          </table>

          <dl class="dl-horizontal">
            <dt>部门</dt>
            <dd><%= @last_post.name %></dd>
            <dt>标题</dt>
            <dd><%= @last_post.title %></dd>
            <dt>内容</dt>
            <dd><%= @last_post.content %></dd>
          </dl>
          <p>
            <%= link_to posts_path, :class => 'btn btn-large btn-block' do %>
                <i class="icon-comment icon-black"></i>&nbsp;<%= t('global.menu.gosub') %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="span6">
        <div class="well center">
          <h2>今日菜单</h2>
          <table class="table table-striped">
            <tr>
              <th>菜名</th>
              <th>价格</th>
              <th>日期</th>
              <th>操作</th>
            </tr>

            <% @dishes_today.each do |dish| %>
                <tr>
                  <td><%= dish.name %></td>
                  <td><%= dish.price %></td>
                  <td><%= dish.set_date %></td>
                  <td><%= link_to '选择', dish, :class => 'btn btn-mini' %>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


