<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span4">
      	<div class="hero-unit center">
  			<p><%= t('global.menu.lunch') %></p>
  			<p>
    			<a class="btn btn-primary btn-large">
      			<i class="icon-shopping-cart icon-white"></i>&nbsp;<%= t('global.menu.gosub') %>
    			</a>
  			</p>
		</div>
      </div>
      <div class="span4">
         <div class="hero-unit center">
  			<p><%= t('global.menu.record') %></p>
  			<p>
    			<a class="btn btn-primary btn-large">
      			<i class="icon-book icon-white"></i>&nbsp;<%= t('global.menu.gosub') %>
    			</a>
  			</p>
		</div>
      </div>
      <div class="span4">
        <div class="hero-unit center">
  			<p><%= t('global.menu.todo') %></p>
  			<p>
    			<a class="btn btn-primary btn-large">
      			<i class="icon-list-alt icon-white"></i>&nbsp;<%= t('global.menu.gosub') %>
    			</a>
  			</p>
		</div>
      </div>
    </div>
  </div>
</div>


