<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span3">
      	<div class="hero-unit center">
  			<p><%= t('global.menu.blog') %></p>
    			<p>
      			<%= link_to posts_path, :class => 'btn btn-large btn-block' do %>
                <i class="icon-comment icon-black"></i>&nbsp;<%= t('global.menu.gosub') %>
            <% end %>
    			</p>
  			</div>
      </div>
      <div class="span3">
         <div class="hero-unit center">
  			<p><%= t('global.menu.record') %></p>
  			<p>
    			<%= link_to posts_path, :class => 'btn btn-large btn-block' do %>
                <i class="icon-comment icon-black"></i>&nbsp;<%= t('global.menu.gosub') %>
            <% end %>
  			</p>
		</div>
      </div>
      <div class="span3">
        <div class="hero-unit center">
  			<p><%= t('global.menu.todo') %></p>
  			<p>
    			<%= link_to posts_path, :class => 'btn btn-large btn-block' do %>
                <i class="icon-comment icon-black"></i>&nbsp;<%= t('global.menu.gosub') %>
            <% end %>
  			</p>
		</div>
      </div>
      <div class="span3">
        <div class="hero-unit center">
        <p><%= t('global.menu.expense') %></p>
        <p>
          <%= link_to posts_path, :class => 'btn btn-large btn-block' do %>
                <i class="icon-comment icon-black"></i>&nbsp;<%= t('global.menu.gosub') %>
            <% end %>
        </p>
    </div>
      </div>
    </div>
  </div>
</div>


