<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        <div class="display-section">
          <h3>今日菜单</h3>

          <div class="display-section-contents">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">圆梦</a></li>
                <li><a href="#tab2" data-toggle="tab">品客堂</a></li>
                <li><a href="#tab3" data-toggle="tab">木桶饭</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">

                  <table class="table table-striped">
                    <tr>
                      <th>菜名</th>
                      <th>价格</th>
                      <th>日期</th>
                      <th>操作</th>
                    </tr>

                    <% @dishes_today.each do |dish| %>
                        <tr>
                          <td><%= dish.name %></td>
                          <td><%= dish.price %></td>
                          <td><%= dish.set_date %></td>
                          <td><%= link_to '选择', dish_order_path(dish), :class => 'btn btn-mini' %>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane" id="tab2">
                  <p>暂无供应。</p>
                </div>
                <div class="tab-pane" id="tab3">
                  <p>暂无供应。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="display-section">
          <h3>账户余额</h3>

          <div class="display-section-contents">
            <table class="table table-striped">
              <tr>
                <td style="text-align: center"><%= current_user.username %></td>
                <td style="text-align: right"><%= current_user.account.amount %>
                <td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="display-section">
          <h3>订餐记录</h3>

          <div class="display-section-contents">
            <table class="table table-striped">
              <tr>
                <th>日期</th>
                <th>餐馆</th>
                <th>菜品</th>
                <th>价格</th>
              </tr>
              <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.order_date %></td>
                    <td><%= order.restaurant.name %></td>
                    <td><%= order.dish_name %></td>
                    <td><%= order.dish_price %></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="display-section">
          <h3>充值记录</h3>

          <div class="display-section-contents">
            <table class="table table-striped">
              <tr>
                <th>日期</th>
                <th>金额</th>
                <th>操作人</th>
              </tr>
              <% @recharge_records.each do |record| %>
                  <tr>
                    <td><%= record.recharge_date %></td>
                    <td><%= record.recharge_amount %></td>
                    <td><%= record.operator %></td>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


