<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">

      <div class="panel-heading">订餐记录</div>
      <div class="panel-body">


        <form class="form-search">
          <%= select_date Date.today, prefix: :orders_date %>
          <button type="submit" class="btn btn-primary">查看</button>
        </form>
      </div>

      <table class="table table-striped">
        <tr>
          <th>日期</th>
          <th>人员</th>
          <th>菜品</th>
          <th>价格</th>
          <%= admins_only do %>
              <th>操作</th>
          <% end %>
        </tr>

        <% @orders.each do |order| %>
            <tr>
              <td><%= order.order_date %></td>
              <td><%= order.user.username %></td>
              <td><%= order.dish_name %></td>
              <td><%= order.dish_price %></td>
              <%= admins_only do %>
                  <td>
                    <%= link_to '删除', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-xs btn-danger' %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        <%= admins_only do %>
        <tr>
          <td></td>
          <td><span class="label label-success">合计</span></td>
          <td><span class="badge"><%= @orders.count %>份</span></td>
          <td colspan="2"><span class="badge"><%= @total %>元</span></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>