<div class="row-fluid">
  <div class="span12">
    <div class="display-section">

      <h3>订餐记录</h3>
      <div class="display-section-contents">
      <table class="table table-striped">
        <tr>
          <th>日期</th>
          <th>人员</th>
          <th>菜品</th>
          <th>价格</th>
          <th>操作</th>
        </tr>

        <% @orders.each do |order| %>
            <tr>
              <td><%= order.order_date %></td>
              <td><%= order.user.username %></td>
              <td><%= order.dish_name %></td>
              <td><%= order.dish_price %></td>
              <td>
                <%= link_to 'Show', order, :class => 'btn btn-mini' %>
                <%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-mini' %>
                <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-mini btn-danger' %></td>
            </tr>
        <% end %>
        <tr>
          <td colspan="3">合计</td>
          <td colspan="2"><%= @total %></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>