<div class="display-section">
  <h3>餐馆列表</h3>
  <div class="display-section-contents">


    <table class="table table-striped">
      <tr>
        <th>名称</th>
        <th>地址</th>
        <th>电话</th>
        <th>备注</th>
        <th>操作</th>
      </tr>

      <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
            <td><%= restaurant.phone %></td>
            <td><%= restaurant.remark %></td>
            <td>
              <%= link_to '修改', edit_restaurant_path(restaurant), :class => 'btn btn-mini' %>
              <%= link_to '删除', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= admins_only do %>
        <div class="form-actions">
          <%= link_to '新建餐馆', new_restaurant_path, :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>