<p id="notice"><%= notice %></p>

<p>
  <b>名称:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>地址:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>电话:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>备注:</b>
  <%= @restaurant.remark %>
</p>


<%= link_to '修改', edit_restaurant_path(@restaurant) %> |
<%= link_to '返回', restaurants_path %>
