<%= admins_only do %>
    <div class="form-actions">
      <%= link_to '发布新的通知', new_post_path, :class => 'btn btn-primary' %>
    </div>
<% end %>
<br>

<ul class="timeline">

  <% @posts.each do |post| %>

  <!-- timeline time label -->
  <li class="time-label">
        <span class="bg-aqua">
            <%= post.created_at.utc.getlocal("+08:00").strftime("%Y-%m-%d")  %>
        </span>
  </li>
  <!-- /.timeline-label -->

  <!-- timeline item -->
  <li>
    <!-- timeline icon -->
    <i class="fa fa-envelope bg-blue"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> <%= post.created_at.utc.getlocal("+08:00").strftime("%H:%M")  %></span>

      <h3 class="timeline-header"><%= post.title %></h3>

      <div class="timeline-body">
        <%= post.content %>
      </div>
      <%= admins_only do %>
          <div class='timeline-footer'>
            <%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-xs btn-primary' %>
            <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-xs btn-danger' %>
          </div>
      <% end %>

    </div>
  </li>
  <!-- END timeline item -->
  <% end %>
</ul>
<script>
    $("i.fa.fa-list").closest("li").addClass("active");
</script>