<h1>Listing posts</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th>Actions</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post , :class => 'btn btn-mini' %>
    <%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini' %>
    <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete ,:class => 'btn btn-mini btn-danger'%>
    </td>
  </tr>
<% end %>
</table>

<div class="form-actions">
  <%= link_to 'New Post', new_post_path, :class => 'btn btn-primary'%>
</div>
