<div class="display-section">
  <h3>通知列表</h3>

  <div class="display-section-contents">
    <table class="table table-striped">
      <tr>
        <th>标题</th>
        <th>内容</th>
        <%= admins_only do %>
            <th>操作</th>
        <% end %>
      </tr>

      <% @posts.each do |post| %>
          <tr>
            <td style="width: 10%;"><%= post.title %></td>
            <td style="width: 60%;"><%= post.content %></td>
            <%= admins_only do %>
                <td style="width: 20%;">
                    <%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini' %>
                    <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
    <%= admins_only do %>
        <div class="form-actions">
          <%= link_to '发布通知', new_post_path, :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>